<configuration>  
  <system.webServer>
    <handlers>
        <add name="FirstFlaskAPI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Gh93s\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\Gh93s\OneDrive\Documents\Python Files\AlmohasebAPI\mohenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\Users\Gh93s\OneDrive\Documents\Python Files\AlmohasebAPI" />
	<!-- <add key="WSGI_LOG" value="C:\Users\Gh93s\OneDrive\Documents\Python Files\AlmohasebAPI\app.log" />-->
  </appSettings>
</configuration> 